<header id="header"><!--header-->
 
  
<div class="header-middle"><!--header-middle-->
  <div class="container">
    <div class="row">
      <div class="col-md-4 clearfix">
         
          
      
       
      </div>
      <div class="col-md-8 clearfix">
        <div class="shop-menu clearfix pull-right">
          <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><a href=""><i class="fa fa-user"></i> Account</a></li>
            <li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
            <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
            </li>
          <% else %>
          <li>
          <%= link_to(  new_user_session_path)  do  %>  
            <i class="fa fa-lock"></i>  Login
            <% end %>
          </li>
          <% end %>
          
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!--/header-middle-->
  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">

        </div>
        <div class="col-sm-3">
          <div class="search_box pull-right">
            <input type="text" placeholder="Search"/>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->