<div class="container">
    <div class="col-sm-3">
        <p>
            <strong>Name:</strong>
            <%= @brand.name %>
        </p>
        <%= link_to 'Back', brands_path %>
    </div>
</div>