
<%= link_to 'New category', new_category_path %>

<table>
    <tr>
    <th>Category</th>
    <th></th>
    <th>Action</th>
    </tr>

    <% @categories.each do |category| %>
        <tr>
            <td><%= category.name %></td>
            <td></td>
            <td><%= link_to 'Show', category_path(category) %></td>
        </tr>
    <% end %>
</table>
